<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.balancaSocket" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>balancaSocket</name>
    <js-module name="balancaSocket" src="www/balancaSocket.js">
        <clobbers target="cordova.plugins.balancaSocket" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="BalancaSocket">
                <param name="android-package" value="cordova.plugin.balancaSocket.BalancaSocket" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/BalancaSocket.java" target-dir="src/cordova/plugin/balancaSocket/BalancaSocket" />
    </platform>

</plugin>
